@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #031716;
    --grey: #032F30;
    --dark-cyan: #0a7075;
    --light-cyan: #0C969C;
    --dark-blue: #274d60;
    --light-blue: #6ba3be;
  }

.bar {
    @apply top-0 left-0 w-full p-7 fixed flex bg-transparent justify-between items-center z-20;
}

.logo {
    @apply text-2xl font-bold;
    color: var(--light-blue);
}

.navbar a{
    @apply relative text-xl font-medium ml-7;
    color: var(--light-blue);
}

.navbar a::before {
    content: '';
    height: 2px;
    @apply w-0 absolute bg-white top-full left-0;
    transition: .4s;
}

.navbar a:hover::before {
    @apply w-full absolute bg-white top-full left-0;
}
